git+https://github.com/Erland366/picotron.git@feat/latest_version
datasets
wandb
huggingface_hub[hf_transfer]
git+https://github.com/samsja/pydantic_config
pyyaml
sentencepiece==0.2.0
python-dotenv
debugpy-run